
* {
  scrollbar-color: auto !important;
}

:root,
[data-theme] {
  background-color: #ffffff !important;
  color: #000000 !important;
}

:root {
  --b1: 1 0 0 !important;
  --bc: 0 0 0 !important;
}
